<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Heather Lynn</title>
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    </head>
<body>
   <main>
        
<header class="masthead grid island-1-2">
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-4">
            <a href="{{site.baseurl}}/index.html">
                <img src="{{site.baseurl}}/images/logo.svg" class="logo">
            </a>
        </div>
   
    <nav class="unit unit-xs-1 unit-s-1 unit-m-2-3 unit-l-3-4">
        <ul class="nav mega">
            <li><a class="island-1-2" href="{{site.baseurl}}/work">Work</a></li>
            <li><a class="island-1-2" href="{{site.baseurl}}/about">Info</a></li>
        </ul>
      </nav>
</header>

{{content}}
    
<footer class="footer grid island-1-2">
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
            <p class="push-0 island-1-2">© Heather Lynn</p>
        </div>
        <nav class="unit unit-xs-1 unit-s-1 unit-m-2-3 unit-l-2-3">
        <ul class="nav">
            <li><a class="gutter-1-2" href="https://www.behance.net/that-redhead">Behance</a></li>
             <li><a  class="gutter-1-2" href="https://ca.linkedin.com/in/heathermcdonell">LinkedIn</a></li>
            <li><a class="gutter-1-2" href="https://instagram.com/witchy.fingers/">Instagram</a></li>
            <li><a class="gutter-1-2" href="mailto:heatherlynn.ca">Lets Chat!</a></li>
        </ul>
        </nav>
    </footer>
    
</body>
</html>