<!DOCTYPE html>
<html lang="en-ca">
<head>
    <!--<link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'> 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,300italic,400italic,600,600italic|Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title> Heather Lynn - Design</title>
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
    <link href="https://file.myfontastic.com/gFk7z4twqbaKeoDkpnmnCD/icons.css" rel="stylesheet">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
    </head>
<body>
   <main role="main">
        
<!--<header class="masthead grid island-1-2" role="navigation">
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-4">
            <a href="{{site.baseurl}}/">
                <img src="{{site.baseurl}}/images/logo.svg" class="logo">
            </a>
        </div>
    
        <div class="unit unit-xs-1 unit-s-1 unit-m-2-3 unit-l-3-4">
            <ul class="nav gutter top-nav"> 
                <li><a class="island-1-2" href="{{site.baseurl}}/animation">Animation</a></li>
                <li><a class="island-1-2" href="{{site.baseurl}}/branding">Branding</a></li>
                <li><a class="island-1-2" href="{{site.baseurl}}/illustration">Illustration</a></li>
                <li><a class="island-1-2" href="{{site.baseurl}}/print">Print</a></li>
                <li><a class="island-1-2" href="{{site.baseurl}}/about">About me</a></li>
            </ul>
        </div>
</header>
-->
       <header class="masthead grid island-1-2" role="navigation">
           <div class="nav center-nav gutter top-nav unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
                <a class="island left" href="{{site.baseurl}}/about">About me</a>
           </div>
           <div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-1-3">
                <a href="{{site.baseurl}}/">
                <img class="logo-center" src="{{site.baseurl}}/images/logo-black.svg" class="logo">
                </a>
           </div>
           <div class="nav center-nav gutter top-nav unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
                <a class="island right" href="{{site.baseurl}}/#work">Projects</a>
           </div>
        </header>

{{content}}
       
<div class="pad-t-2 banner gutter-1-2 push-2">
        <div class="island-1-4 unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
            <h7 class="pad-top center-text">
Écrivez-moi / Get in touch! <a class="underline pad-t island-1-2" href="mailto:allo.heatherlynn@gmail.com">allo.heatherlynn@gmail.com</a></h7>
</div>
</div>
    
<footer class="footer grid island-1-2" role="contentinfo">
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-4 unit-l-1-4">
            <p class="push-0 island-1-2">Hand coded with love and plenty of coffee <strong>·</strong> © Heather Lynn <strong>·</strong> 2015/2016</p>
        </div>
        <nav class="unit unit-xs-1 unit-s-1 unit-m-3-4 unit-l-3-4">
        <ul class="nav bottom-nav">
        
            <li><a class="island-1-2" href="https://www.behance.net/heather-lynn">Behance</a></li>
            <li><a class="island-1-2" href="https://www.instagram.com/heather.mcdonell/">Instagram</a></li>
            </ul>
            
        </nav>
    </footer>
    
</body>
</html>