<!DOCTYPE html>
<html lang="en-ca">
<head>
    <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>Heather Lynn · Design &amp; Motion</title>
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
    </head>
<body>
   <main role="main">
        
<header class="masthead grid island-1-2" role="navigation">
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-4">
            <a href="{{site.baseurl}}/">
                <img src="{{site.baseurl}}/images/logo.svg" class="logo">
            </a>
        </div>
    
        <div class="unit unit-xs-1 unit-s-1 unit-m-2-3 unit-l-3-4">
            <ul class="nav gutter top-nav mega">
                <li><a class="island" href="{{site.baseurl}}/about">About me</a></li>
                <li><a class="island" href="{{site.baseurl}}/#work">Projects</a></li>
            </ul>
        </div>
</header>

{{content}}
       
<div class="pad-t banner gutter-1-2 push-2">
        <div class="island-1-4 unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
            <h5 class="pad-top">Like my work? Let's chat!</h5>
            <h5><a class="island-1-2" href="mailto:hello@heatherlynn.ca">hello@heatherlynn.ca</a></h5>
        </div>
</div>
    
<footer class="footer grid island-1-2" role="contentinfo">
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-4 unit-l-1-4">
            <p class="push-0 island-1-2">© Heather Lynn</p>
        </div>
        <nav class="unit unit-xs-1 unit-s-1 unit-m-3-4 unit-l-3-4">
        <ul class="nav">
        
            <li><a class="island-1-2" href="https://www.behance.net/heather-lynn">Behance</a></li>
            <li><a class="island-1-2" href="https://dribbble.com/HeatherL_Design">Dribbble</a>
                
            <li><a class="island-1-2" href="https://www.instagram.com/viedeheather/">Instagram</a></li>
            
            <li><a class="island-1-2" href="https://ca.linkedin.com/in/heathermcdonell">LinkedIn</a></li>
        </ul>
        </nav>
    </footer>
    
</body>
</html>